body {
  background-color: burlywood;
  padding: 30px;
}

img {
width: 25%;
height: 250px;
object-fit: contain;
}
input {
    color: pink;
    font-size: 20px;
    text-align: center;
    border-radius: 15px;
}
.myInput {
    display: grid;
    align-items: left;
    margin: 15px;

}


.myInput > div {
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.myInput > input {
    text-align: left;
    font-size: 12px;
    color: black;
    padding: 10px;

}


.textStyles {
  width: 80%;
  background-color: white;
  text-align: center;
  padding: 70px;
  margin: auto;
  border: 15px solid green;
  border-radius: 50px;
  box-shadow: 20px 10px rgba(6, 114, 6, 0.5);
  margin-bottom: 40px;
}
.myImages{
    padding: 0%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width : 500px) and (max-width : 1000px){
    .myInput > div{
        color: pink

    }
}
